
  <h1>OutLet User!</h1>
  <!-- <template-outlet [layoutvar]="myhostvariable"> -->
  <!-- if the template has direct object assigned, then this assignment is useless -->
  <template-outlet-layout [layoutvar]="{id:'D10',name:localvariable,age:39}">
    <p>list of items</p>
    <!-- EXPLICIT OPTION: myvar is on the left side of the context vars myvar: hostvariable explicit-->
     <!-- <ng-template mytemplate-selector let-localvar="myvar" >  -->


    <!-- when use $implicit, it automatically assigns hostvariable1 to the $implicit:var -->
    <!-- let-localvar matches localvar with layoutvar -->
    <ng-template mytemplate-selector let-localvar >
      {{localvar | json}}
    </ng-template>
    </template-outlet-layout>